@{
    ViewData["Title"] = "PokeInfo";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Name"]</h3>
<a href=""><h3>@ViewData["Primary Type"]</h3></a> 
<h3>@ViewData["Height"]</h3>
<h3>@ViewData["Weight"]</h3>



<p>Don't use this area to provide additional information.</p>
